body {
  background: url('../images/background-leaves.jpg') no-repeat;
  background-attachment: fixed;
  background-color: aquamarine;
  background-clip: border-box;
}

.container {
  background: url('../images/cool-vintage-backgrounds.jpg');
  color: white;
}

/* Descendant selectors */
.container p {
  font-size: 35px;
}

.container ul li {
  color: wheat;
  font-size: 20px;
}